.header {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-evenly; */
  width: 160px;
  height: 100vh;
  padding: 20px;
  background-color: #103c5c;
  color: #f3f3f3;

}
.user-name {
  position:absolute;
	top: 10%;
  left: 85%;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
  transform: translate( 70%, -50%);
}
.circle-1 {
	width: 35px;
	height: 35px;
  top: 10%;
  left: 85%;
	background: #d8d9db;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
  transform: translate( 70%, -50%);
}
.search-bar {
  width: 30%;
	min-width: 400px;
  height: 30px;
  padding: 8px 8px 8px 42px;
  background: #f3f3f3;
  color: #aaaaaa;
  border-radius: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate( -60%, -50%);
}
.search-icon-1 {
	width: 30px;
	height: 28px;
	background: #202123;
}
.rectangle-25 {
	width: calc(100% - 160px);
	height: 140px;
	padding: 8px;
	background: #ffffffff;
	position: absolute;
	top: 0;
	left: 160px;
  z-index: -1;
} 

body {
  background-color: #c5c2c2; 
}
.logo { 
  font-family: 'Belleza', sans-serif;
  height: 5vh;
}
.transparent-image {
  background-color: transparent;
}



.links {
  margin-top: 20px;
  margin-bottom: -30px;
  display: grid;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-left: 40px;
}

a {
  margin-bottom: -120px;
  margin-top: 0px;
  padding: 90.5px 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  
}

.paragraph-1 {
	width: 111px;
	height: 28px;
	color: #ffffff;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.dashboard-icon-1 {
	width: 24px;
	height: 24px;
	background: #ffffff;
  position: absolute;
  top: 185px;
  left: 30px;
}
.keyboard-arrow-down-icon-1 {
	width: 20px;
	height: 20px;
	background: #ffffff;
  position: absolute;
  top: 185px;
  left: 150px;
}
.paragraph-7 {
	width: 111px;
	height: 28px;
	color: #ffffff;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.inbox-notiy {
  width: 24px;
  height: 24px;
  /* padding: 0px 8px; */
  background-color: #fbf9f9;
  color: #2d2d2e;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 150px;
  top: 252px;
}
.mail-outline-icon-2 {
	width: 24px;
	height: 24px;
	background: #f7f6f6;
  position: absolute;
  left: 30px;
  top: 252px;
}
.shopping-basket-icon-1 {
	width: 24px;
	height: 24px;
	background: #ffffff;
  position: absolute;
  left: 30px;
  top: 322px;
}
.library-books-icon-1 {
	width: 24px;
	height: 24px;
	background: #ffffff;
  position: absolute;
  left: 30px;
  top: 390px;
}
.settings-applications-icon-2 {
	width: 24px;
	height: 24px;
	background: #ffffff;
  position: absolute;
  left: 30px;
  top: 464px;
}

.horizontal-line-2 {
	width: 150px;
	height: 0.1px;
	border-color: #ffffff;
  background-color: white;
	border-width: 2px;
	border-style: solid;
  position: absolute;
  left: 20px;
  top: 440px;
}

.help {
	width: 111px;
	height: 21px;
	opacity: 75%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
  position: absolute;
  left: 30px;
  top: 770px;
}
.contact-us {
	width: 111px;
	height: 21px;
	opacity: 75%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
  position: absolute;
  left: 30px;
  top: 810px;
}

.log-out-icon {
	width: 24px;
	height: 24px;
	opacity: 75%;
  background-color: white;
  position: absolute;
  left: 30px;
  top: 850px;
}

.log-out {
	width: 111px;
	height: 21px;
	opacity: 75%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
  position: absolute;
  left: 60px;
  top: 850px;
}
.img {
  width: 160px;
  height: auto;
}